html {
    position: relative;
    min-height: 100%;
	width: 1000px;
}
			
body {
	margin-bottom: 40px;
	margin-left: 8px;
	font-family: sans-serif;
	width: 1000px;
	font-size: 16px;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.75rem;
}

h4 {
	font-size: 1.5rem;
}

h5 {
	font-size: 1.25rem;
}

h6 {
	font-size: 1rem;
}
			
footer {
	position: absolute;
    bottom: 0;
	height: 40px;
	width: 100%;
	font-size: 9px;
}

hr {
	margin-top: 3px;
	margin-bottom: 3px;
}

.bread-crumb-nav {
	font-size: 11px;
}

.main-menu-link {
	text-decoration: none;
	color: black;
	font-size: 18px;
}